modules = ["python-3.12"]
run = "streamlit run undefined"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41168791
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run scc.py --server.address=0.0.0.0 --server.port=5000"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "streamlit run scc.py --server.address=0.0.0.0 --server.port=5000"]
